@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&family=Open+Sans&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.TOPO {
    width: 100%;
    height: 60px;
    background-color: #F9003D;
}

.TOPO nav {
    width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.TOPO nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    padding: 17px 50px;
}

.TOPO nav a:hover {
    background-color: black;
    text-decoration: underline;
}

.TOPO nav ul {
    width: 600px;
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.BANNER {
    width: 100%;
    height: 740px;
    background-image: url(../img/imagem-fundo-banner.jpg);
    background-size: cover;
    background-position: bottom;
}

.CONTENT {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.BANNER_TEXT {
    width: 570px;
    height: 500px;
}

.BANNER_TEXT h1 {
    font-size: 85px;
    font-family:  'Bebas Neue', cursive;
    color: white;
}

.BANNER_TEXT p {
    font-size: 45px;
    font-family: 'Courier Prime', monospace;
    color: #F9003D;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
}

.BANNER_TEXT span {
    margin-left: 10px;
}

.LINE {
    width: 80%;
    border:solid 1px #F9003D;
}

/*SOBRE*/

.BK_SOBRE {
    width: 100%;
    height: 820px;
    background-color: #080324;
}

.SOBRE {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.SOBRE h2 {
    font-size: 64px;
    color: #F9003D;
    font-family: 'Bebas Neue', cursive;
    padding-top: 65px;
    padding-bottom: 65px;
}

.SOBRE_CONTENT {
    display: flex;
    justify-content: space-between;
}

.SOBRE_CONTENT img {
    width: 491px;
}

.TEXTO_SOBRE {
    width: 600px;
}

.TEXTO_SOBRE h3 {
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
    color: #FFAF00;
    line-height: 74px;
    margin-top: -33px;
    margin-bottom: 30px;
}

.TAG {
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
}

.TEXTO_SOBRE p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: justify;
}

.BK_INFO {
    width: 100%;
    height: 200px;
    background-image: url(../img/imagem-fundo-info.jpg);
    background-size: cover;
}

.INFO {
    width: 1200px;
    height: 100%;
    background-color: tomato;
    margin: 0 auto;
    font-family: 'Courier Prime', monospace;
}